


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}

.flex-container{
    display: flex;
    
    gap: 10px;
    
    
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.larger{
    height: 100px;
    background-color: darkgray;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.group{
    display: flex;
    gap: 10px;
}
.small{
    flex: 1;
    height: 45px;
    background-color:darkgray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}