

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: black;
    text-align: center;
    padding: 10;
    color :white
    

    
}
p{
    background-color: aqua;
    text-align: center;
}
a {
    text-decoration: none;
    color: red;
    margin-right: 10px;
}