


p{
    color: white;
    background-color: slategrey;
    font-size: 50px;
    text-align: center;
    line-height: 300px;
    height: 300px;
    width: 500px;
    transition: 1s;
}
p:hover{
    border-radius: 50%;
}